<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
<mvc:annotation-driven />
<context:component-scan base-package="com.kohler.puni.persistence" />

<!-- Please note the properties file location should be supplied as a jvm argument when packaging the war -->
 <context:property-placeholder location="file:../conf/database-cpdb.properties" />


<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  <property name="prefix" value="/WEB-INF/jsp/" />
  <property name="suffix" value=".jsp" />
</bean>

<bean id="pimStatusManager" class="com.kohler.persistence.Util.PimStatusManager" scope="singleton">
</bean>

<bean id="pimService" class="com.kohler.puni.persistence.service.impl.PimServiceImpl">
</bean>

<bean id="pimDaoProvider" class="com.kohler.persistence.provider.PimDaoProvider">
</bean>

<bean id="puniServiceMapper" class="com.kohler.persistence.provider.impl.PimPuniDaoMapperImpl">
</bean>

<bean id="pcenServiceMapper" class="com.kohler.persistence.provider.impl.PimPcenDaoMapperImpl">
</bean>

<bean id="itemInfoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
   <property name="mapperInterface" value="com.kohler.puni.persistence.dao.ItemInfoDao" />
</bean>

<bean id="itemGroupsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
   <property name="mapperInterface" value="com.kohler.puni.persistence.dao.ItemGroupsDao" />
</bean>

<bean id="itemGroupsPcenDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
   <property name="mapperInterface" value="com.kohler.puni.persistence.dao.ItemGroupsPcenDao" />
</bean>

<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
  <constructor-arg index="0" ref="sqlSessionFactory" />
  <constructor-arg index="1" value="BATCH" />
</bean>

<bean id="sqlSessionTemplateSql" class="org.mybatis.spring.SqlSessionTemplate">
  <constructor-arg index="0" ref="sqlSessionFactorySql" />
  <constructor-arg index="1" value="BATCH" />
</bean>

<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource" />
	<property name="configLocation" value="classpath:config/mybatisV3-config.xml"/>
</bean>


<bean id="sqlSessionFactorySql" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSourceSql" />
	<property name="configLocation" value="classpath:config/mybatisV3-config.xml"/>
</bean>

<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${puni.driverClassName}" />
		<property name="url" value="${puni.url}" />
		<property name="username" value="${puni.username}" />
		<property name="password" value="${puni.password}" />
	</bean> -->

<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
     <property name="jndiName" value="java:comp/env/jdbc/PUNI"/>
</bean>


<bean id="dataSourceSql" class="org.springframework.jndi.JndiObjectFactoryBean">
     <property name="jndiName" value="java:comp/env/jdbc/PCEN"/>
</bean>
	
</beans>