<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kohler.puni.persistence.dao.ItemInfoDao">
	<resultMap id="itemGroupsMap" type="ItemGroups">
		<id column="ITEM_INFO_ID" property="itemId"  />
		<result column="ITEM_GROUP_ID" property="parentId" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="CREATED_DATE" property="createdDate" />	     
		<result column="UPDATED_BY" property="updatedBy" />	   
		<result column="TIMESTAMP" property="updatedDate" />	  		    	
	</resultMap>
	
    <select id="getItemGroups" resultMap="itemGroupsMap">
		SELECT
			ITEM_GROUP_ID,
			ITEM_INFO_ID,
			CREATED_BY,
			CREATED_DATE,
			UPDATED_BY,
			TIMESTAMP
		FROM
			CB02KPNA.Item_Groups
	</select>
</mapper>	